<style>
  .panel {
    border: 1px solid #33bbff;
    border-radius:0;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 3px 0px 30px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid #33bbff;
    background-color: #fff !important;
    color: #33bbff;
  }
  .panel-heading {
    color: #fff !important;
    background-color: #33bbff !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: #fff !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #33bbff;
    color: #fff;
  }
</style>
<!-- Pricing -->
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Pricing</h1>
        </div>
        <div class="panel-body">
           <p><strong>On request</strong></p>
        </div>
        <div class="panel-footer">
          <h3>10%</h3>
          <h4>flat fee</h4>
          <button class="btn btn-lg">Check</button>
        </div>
      </div>
    </div>
  </div>
</div>